.App {
  font-family: sans-serif;
  text-align: center;
}

.parent-grid {
  display: flex;
}

.block {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.black-block {
  background-color: black;
}

.white-block {
  background-color: white;
}
